body {
	font-size: 11px;
	background-color: #e8e3dc;
	font-family: 'PT Sans', sans-serif;
}

#hovermenu {
	width: 230px;
	height: 230px;
	position: absolute;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.hm-btn {
	width: 110px;
	height: 110px; /*overflow: hidden;*/
	position: absolute;
	cursor: pointer;
}

.hm-pie {
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5);
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.hm-btn.active .hm-pie {
	border-color: #09c;
}

.hm-btn.tl {
	top: 0;
	left: 0;
}

.hm-btn.tr {
	top: 0;
	right: 0;
}

.hm-btn.bl {
	left: 0;
	bottom: 0;
}

.hm-btn.br {
	right: 0;
	bottom: 0;
}

/***********************************
ANIMATIONS
 ***********************************/
.hm-btn {
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}

#hovermenu.initial .hm-btn {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
}

#hovermenu.initial .hm-btn.tl {
	top: 5px;
	left: 5px;
}

#hovermenu.initial .hm-btn.tr {
	top: 5px;
	right: 5px;
}

#hovermenu.initial .hm-btn.bl {
	left: 5px;
	bottom: 5px;
}

#hovermenu.initial .hm-btn.br {
	right: 5px;
	bottom: 5px;
}

/***********************************/
.hm-btn.tr .hm-pie {
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
	left: -100%;
}

.hm-btn.bl .hm-pie {
	-webkit-transform: rotate(270deg);
	-moz-transform: rotate(270deg);
	-o-transform: rotate(270deg);
	-ms-transform: rotate(270deg);
	transform: rotate(270deg);
	top: -100%;
}

.hm-btn.br .hm-pie {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
	top: -100%;
	left: -100%;
}

.hm-pie {
	width: 60px;
	height: 60px;
	border-radius: 100%;
	border: 80px solid rgba(0,0,0,0.7);
	background: transparent;
	clip: rect(-10px, 110px, 110px, -10px);
	position: absolute;
	color: #fff;
}

.hm-text {
	position: relative;
	display: block;
	font-size: 12px;
	color: #fff;
	text-align: center;
	margin-top: 25px; /*font-weight: bold;
	*/
}

.hm-btn.tr .hm-text,.hm-btn.tl .hm-text {
	margin-top: 40px;
}

.hm-text i {
	font-size: 28px;
	display: block;
	margin-bottom: 4px;
}

.action{
	font-family:"PT Sans", Arial;
	font-size:60px;
	font-weight: bold;
	color:rgba(0,0,0,0.2);
	position:absolute;
	top:50%;
	bottom:50%;
	left:0;
	right:0;
	margin-top:-30px;
	text-align:center;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
